@import "~bootstrap/scss/bootstrap.scss";

.allElements{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    height: 350px;
}
.singleElement {
    background-color:black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 3px;
    width: 100px;
    height: 150px;
}
.clockIcon{ 
    display: flex;
    margin-right: 20 px;
}

